{% from "partials/_macros.html" import kv_row, status_badge %}

<table class="kv-table">
    {{ kv_row("OS", data.os, copyable=true) }}
    {{ kv_row("OS Version", data.os_version) }}
    {{ kv_row("OS Release", data.os_release) }}
    {{ kv_row("Kernel", data.kernel) }}
    {{ kv_row("Architecture", data.architecture) }}
    {{ kv_row("Hostname", data.hostname) }}
    {{ kv_row("Username", data.username) }}
    {{ kv_row("Shell", data.shell, copyable=true) }}
    {{ kv_row("Working Directory", data.cwd, copyable=true) }}
    {{ kv_row("Privilege", data.privilege) }}
    {{ kv_row("Locale", data.locale) }}
    {{ kv_row("CPU Count", data.cpu_count) }}
    {{ kv_row("Encoding", data.encoding) }}
    {{ kv_row("FS Encoding", data.filesystem_encoding) }}
</table>
